#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Use CDROM installation media
cdrom
# Use text mode install
text
# Configure whether the Initial Setup application is run on first boot
firstboot --disable
# Reboot after installation
reboot --eject

# System language
lang en_GB.UTF-8
# Keyboard layouts
keyboard --vckeymap=uk --xlayouts='gb'
# System timezone
timezone UTC

# Root password. This is only set here as Anaconda requires it. The root
# users password is deleted and password based authentication locked in
# the %post section at the end of the install
rootpw --iscrypted $6$rounds=1000000$zaJ8HriSicu$nSFaVNLEcV96RBqLe7JNuBDBGWR6UFMxlxGTbX/JEAC9MgOdd4RBeCWqrwpsRbu1hc7UBDHWWF15/m4rYMPUO0
# System authorization information
auth  --useshadow  --passalgo=sha512
# SELinux configuration
selinux --enforcing
# Do not configure the X Window System
skipx

# Network information
network  --bootproto=dhcp
# Firewall configuration
firewall --enabled --ssh

# Clear the Master Boot Record
zerombr
# System bootloader configuration
bootloader --location=mbr --timeout=0 --iscrypted --password=grub.pbkdf2.sha512.10000.515D581CFCA4293EB91B7EF0F063E53C118E4CAF6366438053719B90952D83E9743347B6569895E4302F62E6B517F6977E738D115A9B0845821D8C198472F1B0.F54118B27DD6057C562864967A738DF320E513B3F24DAEED4F30D21A51C9BAA414B53D665F1CA2802EB29715C6218E01A8669AF44E388C6023A552F79D28343C --append="elevator=noop"
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype=xfs --size=500 --ondisk=sda --asprimary --label=BOOT
part /     --fstype=xfs --grow     --ondisk=sda --asprimary --label=ROOT


# Package configuration
%packages --ignoremissing
@core
bash-completion
chrony
deltarpm
lsof
net-tools
tree
-kexec-tools
-plymouth
-NetworkManager
-NetworkManager-team
-NetworkManager-tui
-aic94xx-firmware
-alsa-firmware
-bfa-firmware
-dracut-config-rescue
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-iwl7265-firmware
-kernel-tools
-libertas-sd8686-firmware
-libertas-sd8787-firmware
-libertas-usb8388-firmware
-libsysfs
-linux-firmware
-microcode_ctl
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-rdma
%end

# Configure kdump crash mechanism
%addon com_redhat_kdump --disable
%end

%post
# Delete the root user password Anaconda forced us to create and lock
passwd --delete root
passwd --lock root
# Set up authorised ssh keys - Uses the Vagrant insecure key
mkdir -pm 700 /root/.ssh
echo "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA6NF8iallvQVp22WDkTkyrtvp9eWW6A8YVr+kz4TjGYe7gHzIw+niNltGEFHzD8+v1I2YJ6oXevct1YeS0o9HZyN1Q9qgCgzUFtdOKLv6IedplqoPkcmF0aYet2PkEDo3MlTBckFXPITAMzF8dJSIFo9D8HfdOV0IAdx4O7PtixWKn5y2hMNG0zQPyUecp4pzC6kivAIhyfHilFR61RGL+GPXQ2MWZWFYbAGjyiYJnAmCP3NOTd0jMZEnDkbUvxhMmBYSdETk1rRgm+R4LOzFUGaHqHDLKLX+FIPKcF96hrucXzcWyLbIbEgE98OHlnVYCzRdK8jlqm8tehUc9c9WhQ== vagrant insecure public key" > /root/.ssh/authorized_keys
chmod 600 /root/.ssh/authorized_keys
%end
